<html>
    <head></head>
    <body>
      <p><%= Result.name %></p>
       <p><%= Result.number %></p>
       <p><%= Result.email %></p>
       <p><%= Result.pass %></p>
       <a href="/<%= Result._id %>/editform">Edit</a>
       <a href="/<%= Result._id %>/delete">Delete</a>


      
    </body>
    </html>